:root{
    --colorPrimario: #F086F8;
    --colorSecundario: #900c3f;
    --colorTerciario: #6c00ff;
    --colorBlanco: #f8f9fa;
    --fuentePrimaria: Arial;
    --fuenteSecundaria: 'Times New Roman', Times, serif;
    --tamanioInicial:18px;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style-type:none;
}
.title{
    background-color: var(--colorPrimario);
    color: var(--colorBlanco);
    padding: 20px 0;
    font-family: var(--fuentePrimaria);
    text-align: center;
    font-size: 40px;
}

/* #900c3f */

/********** MAIN ************/

.main{
    padding: 16px;
}
/** section **/
.section{
    width: 750px;
    float: left;
}
.subtitle{
    color: var(--colorPrimario);
    font-family: var(--fuentePrimaria);
    text-decoration: underline;
    margin-bottom: 7px;
}
.article{
    border: 1px solid rgba(0,0,0,0.2);
    padding: 16px;
}

.subtitle-2{
    color: var(--colorPrimario);
    font-family: var(--fuentePrimaria);
    margin-bottom: 5px;
}


/* a:visited{
    color: magenta;
}
a:active{
    color: lime;
}
 */

.article-image{
    width: 300px;
    float: left;
    margin-right: 15px;
}
.article-text{
    font-family: var(--fuenteSecundaria);
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 10px;
}

.article-text::first-letter{
    color: #dc3545;
    font-size: 24px;
    font-style: italic;
}

.article-text::first-line{
    color: var(--colorPrimario);
}

.article-text::selection{
    background-color: var(--colorPrimario);
    color: #f8f9fa;
}

.article-link{
    color: #f8f9fa;
    background-color: var(--colorPrimario);
    width: 130px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    display: inline-block;

}

.article-link:hover{
    background-color: #288bf6;
}


/** aside **/
.aside{
    width: 500px;
    height: 350px;
    float: right;
}
.aside-list{
    margin-bottom: 5px;
}
.aside-list:hover{
    background-color: var(--colorPrimario);
}
.aside-list:hover a{
    color: var(--colorBlanco);
}

.limpiar{
    clear: both;
}
a{
    color: var(--colorPrimario)
}

/**** Footer ****/
.footer{
    background-color: var(--colorPrimario);
    color: var(--colorBlanco);
    padding: 10px 0;
    text-align: center;
}